html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #FFFCE8;
    color: #3E363F;
}

ul, li
{
    margin: 0;
}

p
{
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 0;
}

h3
{
    margin-top: 5px;
}

a
{
    text-decoration: none;
    color: #0090C1;
}

a:hover
{
    color: #046E8F;
}

section
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 3px 3px 3px 3px;
    border: #3E363F 3px solid;
}

@media(min-width: 1200px)
{
    body
    {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    p
    {
        width: 936px;
        margin-left: auto;
        margin-right: auto;
    }
}